@import url('https://fonts.googleapis.com/css2?family=PP+Neue+Montreal:wght@300;400;500;700&display=swap');

:root {
    --v-primary-base: #144d33;
    --v-accent-base: #1e6b47;
    --v-warning-base: #23ae65;
    --v-background-dark: #0f1a14;
    --v-glass-effect: rgba(20, 77, 51, 0.75);
    --v-soft-shadow: rgba(255, 255, 255, 0.12);
}

body {
    font-family: 'PP Neue Montreal', sans-serif;
    background: var(--v-background-dark);
    color: #e0e0e0;
}

.active-nav-item {
    border-right: 0px !important;
    border-radius: 100pt;
    background: var(--v-accent-base);
    transition: 0.3s;
    box-shadow: 0px 4px 10px var(--v-soft-shadow);
}

.active-nav-item:hover {
    background: #d0f3ce;
}

.active-nav-item .menu-item-title, .active-nav-item .menu-item-icon {
    color: black;
}

.v-list-item--link::before {
    border-radius: 100pt;
}

main#content {
    background: linear-gradient(370deg, var(--v-primary-base), black, var(--v-accent-base));
    background-size: 400% 400%;
    animation: BackgroundAnimation 30s ease infinite;
}

@keyframes BackgroundAnimation {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

.theme--dark.v-navigation-drawer,
.theme--dark.v-sheet,
.v-menu__content,
.v-dialog,
.v-sheet.v-card {
    background: var(--v-glass-effect) !important;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 20px var(--v-soft-shadow) !important;
    border-radius: 15px !important;
    border: none;
}

.v-btn {
    border-radius: 8px;
    background-color: var(--v-glass-effect) !important;
    backdrop-filter: blur(10px);
}

.v-btn:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}

.v-data-table tbody tr:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 10px;
    box-shadow: 0px 4px 10px var(--v-soft-shadow);
}

.v-application .panel {
    background-color: var(--v-glass-effect) !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 15px var(--v-soft-shadow) !important;
}

.v-navigation-drawer__border {
    width: 0;
}
